// Colors
$spinColor: #b5b5b5;
$alertErrorBorderColor: #ffccc7;
$white: #ffffff;
$indigo: #041527;
$siderMenuCollpaseButtonColor: #00376a;

// Keyframes
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
