@import 'src/styles/common.scss';

.wrapper {}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.childrenWrapper {
  display: inherit;
}

.childrenWrapperHidden {
  display: none;
}
